body{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: grey;
    max-width: 900px;

    margin: auto;

}
#title{
    color: black ;
    margin: 15px;
}
a{
   text-decoration: line-through; 
}
.post {
    background-color: white;
    border: 1px solid black;
    margin-top: 50px;
    padding: 0px;
    padding-top: 0;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
}
h1, h2, h6{
    margin: 0;
    padding: 0;
}
.photo {
    margin-top: 20px;
    border-radius: 50%;
    border: 2px solid black;

}



.contactLists {
    border: 1px solid black;
    background-color: white;
    list-style-type: none;
    text-align: center;
}
.contactLists li a{
    text-decoration: none;
    color: blue;
}